body {
  background-color: #feeded;
}

.popupWrapper {
  width: 360px;
  height: 480px;
  overflow: hidden;
  .popupContainer {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    .popupList {
      padding-bottom: 15px;
      &Item {
        &:not(:first-child) {
          margin-top: 15px;
        }
        .popupLabel {
          padding: 5px;
          font-size: 21px;
          font-weight: bold;
          color: #fc4472;
          text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
            1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff,
            1px 0 0 #fff;
        }
        &Card {
          display: grid;
          cursor: pointer;
          background-color: #fff;
          box-shadow: 0 0 5px rgba(221, 212, 185, 0.3);
          transition: all 0.2s ease 0s;
          &:hover {
            background-color: #eee;
            box-shadow: 0 0 10px rgba(221, 212, 185, 0.6);
          }
          .popupThumbnail {
            position: relative;
            width: 100%;
            padding-bottom: 75%;
            & > img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .popupDescription {
            padding: 5px;
            & > h3 {
              font-size: 13px;
              font-weight: bold;
            }
            & > p {
              display: -webkit-box;
              margin-top: 1.5px;
              overflow: hidden;
              font-size: 11px;
              line-height: 1.5;
              opacity: 0.9;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }
        }
        &.popupUpcoming {
          .popupListItemCard {
            grid-template-columns: 1fr;
          }
        }
        &.popupCompleted {
          .popupListItemCard {
            grid-template-columns: 120px 1fr;
          }
        }
      }
    }
    .popupNone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #282323;
      .popupNoneDescription {
        font-size: 17px;
        font-weight: bold;
        color: #fc4472;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
          1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff,
          1px 0 0 #fff;
      }
      .popupNoneImage {
        height: 60vw;
      }
    }
    .popupLoad {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .popupLoadDescription {
        font-size: 17px;
        font-weight: bold;
        color: #fc4472;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
          1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff,
          1px 0 0 #fff;
      }
      .popupLoadImages {
        display: flex;
        height: 60vw;
        .popupLoadImage {
          animation: spin 0.3s infinite linear;
          object-fit: contain;
        }
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
